input.email-entry{
    direction: rtl;
}
.container{
    display: flex;
    width: 1000px;
    justify-content: center;
}
.container.space-around{
    justify-content: space-around;
    alignment: center;
}
.container.space-between{
    justify-content: space-between;
    align-content: center;
}