<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Distribution for 300 LAF Stage 6</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel=stylesheet href="../static/style.css">
</head>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="../static/balls.js"></script>
<body>
<p>Thank you for your prediction of when 300 Lafayette will be officially in Stage 6. This survey is to both gain some wisdom of the crowds, and for everyone's engagement.</p>
<p>Please do not forward to outside of the MSR-NYC organization.</p>
<p>Basically, we are asking you to create an early and late date of when Stage 6 may happen, then distribute 100 guesses within that range. These guesses each represent 1 percentage of probability for a given band of days.</p>
<p> This Thursday we will present the crowd-sourced probability distribution of when 300 Lafayette will reach Stage 6 (so get your submissions in by 11:59 ET on Wednesday 9/29). Then, when Stage 6 is reached, we will declare a "winner" of the contest.
    We will give each participant a number of tickets correlated with how much weight they put on the eventual outcome*. Then, we will draw a ticket live during a Thursday Tea Talk (presumably in the fully reopened 300 Lafayette!)
</p>
<form id="main_form" action="{{ url_for('add_record') }}" method="post">
    <div class="container space-around">
        <div>
            <label for="email">
                Email:
            </label>
            <input type="text" class="email-entry" id="email" name="email" required>
            <label for='email'>
                @microsoft.com
            </label>
        </div>
    </div>
    <br><br>
    <div class="container space-around">
        <div>
            <label for="lo">Earliest Date</label>
            <input type="date" id="lo" name="lo">
        </div>
        <div>
            <label for="hi">Latest Date</label>
            <input type="date" id="hi" name="hi">
        </div>
    </div>
    <br><br>
    <div id="contain-div" hidden>
        <div class="container space-around">
            <div id="balls-used" style="display: inline">You have used X balls</div>
            <div id="balls-left" style="text-align: right; display: inline">You have XXX balls remaining.</div>
        </div>
        <div id="target-div" class="container">
        </div>
        <div class="container space-between" style="width: 985px">
            <div id="b1" class="container">
                <button type='button' id="m1">-</button> <button type='button' id="p1">+</button>
            </div>
            <div id="b2" class="container">
                <button type='button' id="m2">-</button> <button type='button' id="p2">+</button>
            </div>
            <div id="b3" class="container">
                <button type='button' id="m3">-</button> <button type='button' id="p3">+</button>
            </div>
            <div id="b4" class="container">
                <button type='button' id="m4">-</button> <button type='button' id="p4">+</button>
            </div>
            <div id="b5" class="container">
                <button type='button' id="m5">-</button> <button type='button' id="p5">+</button>
            </div>
            <div id="b6" class="container">
                <button type='button' id="m6">-</button> <button type='button' id="p6">+</button>
            </div>
            <div id="b7" class="container">
                <button type='button' id="m7">-</button> <button type='button' id="p7">+</button>
            </div>
            <div id="b8" class="container">
                <button type='button' id="m8">-</button> <button type='button' id="p8">+</button>
            </div>
            <div id="b9" class="container">
                <button type='button' id="m9">-</button> <button type='button' id="p9">+</button>
            </div>
        </div>
        <br>
        <div class="container space-around">
        <input type="submit" value="Submit" style="alignment: center">
        </div>
    </div>
</form>
<p>*Technically your probability of "winning" will be a function of the distance between your square error and the average square error.
We assure you that each individual maximizes their probability of "winning" by truthful reporting.</p>
</body>
</html>